<ul class="fa-ul mb-0">
    <li>
        <%= link_to "http://hear-me-now.herokuapp.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Hear Me App
                <i class="fa-li fa fa-headphones"></i>
                <small class="details">Nuxt, Spotify Api</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://honduras-cv-19.netlify.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Covid Tracker
                <i class="fa-li fa fa-plus-square"></i>
                <small class="details">Vue, Chart.js, amCharts</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://jv-blog.netlify.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Another Blog
                <i class="fa-li fa fa-book"></i>
                <small class="details">Gridsome, Netlify</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://be-happy-ok.netlify.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Feel Good Quote Fetcher
                <i class="fa-li fa fa-smile-o"></i>
                <small class="details">Vue, Netlify</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://jocvegar.github.io/sound_tapper/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Sound Tapper
                <i class="fa-li fa fa-volume-up"></i>
                <small class="details">Javascript, Github Pages</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://flask-static-page.netlify.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">A Static Landing Page
                <i class="fa-li fa fa-address-card"></i>
                <small class="details">Python, Flask, Netlify</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://memory-game-6b16f.web.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">A Memory Game
                <i class="fa-li fa fa-pencil-square"></i>
                <small class="details">Vue, Firestore, Firebase</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://wan-fu.netlify.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Online Menu
                <i class="fa-li fa fa-book"></i>
                <small class="details">Nuxt, Tailwind, PWA</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://aynose.netlify.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">A Game
                <i class="fa-li fa fa-gamepad" aria-hidden="true"></i>
                <small class="details">Vue, PWA</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://heka-hnd.web.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Portafolio
                <i class="fa-li fa fa-folder-open" aria-hidden="true"></i>
                <small class="details">Vue, Firebase, Firebase Functions</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://cocinandoconamor.netlify.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Promoción Fundación Hondureña Para El Niño Con Cáncer
                <i class="fa-li fa fa-plus-square" aria-hidden="true"></i>
                <small class="details">Vue, Tailwind</small>
            </div>
        <% end %>
    </li>

    <li>
        <%= link_to "https://restaurante-siu.netlify.app/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Online Menu & Netlify CMS
                <i class="fa-li fa fa-book"></i>
                <small class="details">Nuxt, Netlify CMS</small>
            </div>
        <% end %>
    </li>

    <li>
        <%= link_to "https://bacon-text.herokuapp.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">Text Generator App
                <i class="fa-li fa fa-file-text-o"></i>
                <small class="details">React, Fetch API, JSX and CSS</small>
            </div>
        <% end %>
    </li>
    <li>
        <%= link_to "https://medinota.herokuapp.com/",
            target: :_blank, style: "text-decoration:none;" do %>
            <div class="subheading mb-3">MediNota App
                <i class="fa-li fa fa-pencil"></i>
                <small class="details">Ruby on Rails, Bootstrap, Clearance gem</small>
            </div>
        <% end %>
    </li>
</ul>
