<div id="page-top">
    <%= render "navbar" %>
    <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Jose
                <span class="text-primary">Vega</span>
            </h1>
            <div class="subheading mb-5">Tegucigalpa, Honduras ·
            <a href="mailto:name@email.com">jocvegar@gmail.com</a>
            </div>
            <p class="mb-5">
                Hi, my name is Jose. I am a passionate full-stack web developer.
            <br>
                I am creative thinker and a problem solver, delivering products that are functional and user-friendly.
            </p>
            <%= render "social_media" %>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div>
            <h2 class="mb-5">Experience</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Lead Web Developer</h3>
                    <div class="subheading mb-3">
                        <a href="https://safetyspot.com/" target="_blank">Safety Spot Inc.</a>
                    </div>
                    <p>
                        Main responsibilities include coding, designing, and rapidly integrating and deploying the source code. Constant interaction with  stakeholders to identify the best technical solutions or improvements to current features.
                    </p>
                    <ul>
                        <li>Effectively translate client requirements into application and systems designs</li>
                        <li>Redesigned blog’s site by creating a full mobile responsive design for better readability and deliverance of information</li>
                        <li>Improved site’s accessibility by 60% by implementing ARIA attributes</li>
                        <li>Improved data upload by creating a self-checking CSV file upload feature.</li>
                        <li>Implemented invoice receipt feature connecting to Braintree</li>
                        <li>Improved stack's ability to refactor by updating and maintaining test suite</li>
                        <li>Develop a multi step survey feature that can use questions from a polymorphic form builder, which I also developed, using React.js</li>
                        <br>
                        <li>100% Development of volunteer signup page</li>
                        <li>100% Development of sales rep portal</li>
                        <li>100% Development of mobile application API</li>
                        <li>100% Development of downloadable slides in PDF (React.js)</li>
                    </ul>

                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Jan. 2018 - June 2020</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Full-Stack Web Developer</h3>
                    <div class="subheading mb-3">
                        <a href="https://safetyspot.com/" target="_blank">Safety Spot Inc.</a>
                    </div>
                    <p>
                        A full-stack developer of SafetySpot Inc. platform using Ruby on Rails, HTML, CSS, JavaScript. Principal responsibility is back-end functionality and maintaining the test suite. Manage code and communication with other team members via BitBucket and Slack, respectively. Work with libraries such as: bootstrap, jQuery, JSON, and  React JS.
                    </p>
                    <p>Features and improvements where I have contributed:</p>
                    <ul>
                        <li>100% Development of user mentioning (tagging) in bulletin board utilizing AJAX (JSON) and React.js</li>
                        <li>100% Development of terms of conditions page & agreement feature</li>
                        <li>100% Development of Safety Spot's blog to create user reachability.</li>
                        <li>95% Development of a log for daily activities</li>
                        <li>95% Development of adding pictures to assets (AWS)</li>
                        <li>95% Development of API for mobile app connectivity</li>
                        <li>95% Development of terms of conditions page & agreement</li>
                        <li>Created social media presence and developed feature to easily share content from web application to different social media outlets</li>
                    </ul>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Feb. 2017 - Dec. 2017</span>
                </div>
            </div>
            <br>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Project Manager</h3>
                    <div class="subheading mb-3">Proinca L.L.C.</div>
                    <p>Takeoffs, planning, material scheduling, procurement and contract administration, cost control, problem-solving, project scheduling, building code compliance, construction, quality compliance, structural design, budget formulation and administration, AutoCAD drafting, Designing in REVIT, staff and payroll supervisor, and project closure.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">April 2011 - Jan. 2017</span>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="sample-apps">
        <div>
            <h2 class="mb-5">Sample Applications</h2>
                <%= render "examples" %>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div>
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <%= render "programming_languages" %>
            <div class="subheading mb-3">Languages</div>
            <ul class="fa-ul mb-0">
                <li>
                <i class="fa-li fa fa-language"></i>
                    English <span class="text-primary"> 100%</span>
                </li>
                <li>
                <i class="fa-li fa fa-language"></i>
                    Spanish <span class="text-primary"> 100%</span>
                </li>
            </ul>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div>
            <h2 class="mb-5">Education</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Universidad Tecnológica de Honduras</h3>
                    <div class="subheading mb-3">Master of Science</div>
                    <div>Project Manager</div>
                    <p>Tegucigalpa, Honduras</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2012 - Dec 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">University of New Orleans</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Civil Engineering</div>
                    <p>New Orleans, Louisiana</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2006 - Dec 2010</span>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div>
            <h2 class="mb-5">Interests</h2>
            <p>
                Apart from being a web developer, I enjoy most of my free time my family and friends. Be it in a bbq or going to the movies or just having a nice conversation.
            </p>
            <p>
                Recently I have gotten into gardening. I find it to be very relaxing! A care for a few succulents, cacti, areca palm tress, african violets, and peace lilies. I also like to care for my health! I enjoy a good cardio workout after a day's work.
            </p>
            <p class="mb-0">
                 Whenever I have some down time, I like exploring the latest technology advancements.
             </p>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div>
            <h2 class="mb-5">About This Page</h2>
                <%= render "about_this_page" %>
        </div>
    </section>
    </div>
</div>
