<div id="page-top">
    <%= render "navbar" %>
    <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">Jose
                <span class="text-primary">Vega</span>
            </h1>
            <div class="subheading mb-5">Col. El Castaño · Tegucigalpa, Honduras ·
            <a href="mailto:name@email.com">jocvegar@gmail.com</a>
            </div>
            <p class="mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            <%= render "social_media" %>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div>
            <h2 class="mb-5">Experience</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">FullStack Web Developer</h3>
                    <div class="subheading mb-3">
                        <a href="https://safetyspot.com/" target="_blank">Safety Spot Inc.</a>
                    </div>
                    <p>A full-stack developer writing on Ruby on Rails, HTML, CSS, JavaScript. Principal responsibilities are back end functionality, logic and architecture, maintenance of test suite and daily communication with other team members.
                </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Feb. 2017 - Present</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Co-founder &amp; Creative Director </h3>
                    <div class="subheading mb-3">
                        <a href="https://www.instagram.com/nectar_hn/" target="_blank">Nectar</a>
                    </div>
                    <p>Social media content creator for publicity. Designed company's logo, name and slogan. Manage social media accounts. Other responsibilities include communication with clients and cater events.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">June 2016 - Present</span>
                </div>
            </div>
            <br>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Project Manager</h3>
                    <div class="subheading mb-3">Proinca L.L.C.</div>
                    <p>Takeoffs, planning, material scheduling, procurement and contract administration, cost control, problem-solving, project scheduling, building code compliance, construction, quality compliance, structural design, budget formulation and administration, AutoCAD drafting, Designing in REVIT, staff and payroll supervisor, and project closure.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">April 2011 - Jan. 2017</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">General Manager</h3>
                    <div class="subheading mb-3">
                        <a href="https://preconhonduras.carrd.co/" target="_blank">Precon</a>
                    </div>
                    <p>Carry out financial &amp; operational management and record-keeping for a post shore and scaffolding Rental Company. Responsible of accounts payable, invoices, inventory, billing, and maintaining an excellent communication with client.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">Jan 2012 - Present 2011</span>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div>
            <h2 class="mb-5">Education</h2>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">Universidad Tecnológica de Honduras</h3>
                    <div class="subheading mb-3">Master of Science</div>
                    <div>Project Manager</div>
                    <p>Tegucigalpa, Honduras</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2012 - Dec 2014</span>
                </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                    <h3 class="mb-0">University of New Orleans</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Civil Engineering</div>
                    <p>New Orleans, Louisiana</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2006 - Dec 2010</span>
                </div>
            </div>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div>
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <%= render "programming_languages" %>
            <div class="subheading mb-3">Languages</div>
            <ul class="fa-ul mb-0">
                <li>
                <i class="fa-li fa fa-language"></i>
                    English <span class="text-primary"> 100%</span>
                </li>
                <li>
                <i class="fa-li fa fa-language"></i>
                    Spanish <span class="text-primary"> 100%</span>
                </li>
            </ul>
            <br>
            <div class="subheading mb-3">Examples</div>
                <%= render "examples" %>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div>
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p>
        </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div>
            <h2 class="mb-5">About This Page</h2>
                <%= render "about_this_page" %>
        </div>
    </section>
    </div>
</div>
